body {
    background-image: url("../images/pipes.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 0 auto;
}

.wrapper {
    max-width: 960px;
    background-color: lightgreen;
    margin: auto;
    /* height: 500px; */
}

h1, h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.name {
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
    vertical-align: bottom;
}

.name, .top-nav, li {
    display: inline-block;
    /* box-sizing: border-box; */
    /* vertical-align: middle; */
}

ul {
    list-style-type: none;
}

.top-nav {
    float: right;
    background-color: blue;
    padding: 10px;
}

.profile-img {
    width: 150px;
}

header {
    background-color: yellow;
}