body {
    background-image: url("../images/pipes.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 0;
    padding: 0;
}

.header-container,
.body-container {
    max-width: 960px;
    background-color: lightgreen;
    margin: auto;
    text-align: justify;
}

.header-container {
    background-color: lightblue;
}

.body-container {
    background-color: darkcyan;
    clear: both;
    overflow: auto;
}

/* .container:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
} */

h1, h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#name {
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
    /* need to figure out how to line up name to the bottom of the container div */
    /* vertical-align: baseline; */
}

#name, .top-nav, li {
    display: inline-block;
}

.top-nav {
    /* need to figure out how to line up top-nav to the bottom of the container div */
    /* vertical-align: baseline; */
    float: right;
    background-color: red;
    /* padding: 25px; */
}

.top-nav li {
    padding: 10px;
}

.profile-img {
    width: 150px;
}

header {
    background-color: yellow;
}